.bg-dark {
    background-color: #212529 !important;
}

.btn-primary {
    color: #fff;
    background-color: #5e72e4;
    border-color: #5e72e4;
    padding: 10px 20px;
  }

  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #324cdd;
    border-color: #5e72e4;
}

.main-content .navbar-top {
padding-top: 16px;
padding-bottom: 16px;
}

.text-primary {
    color: #5e72e4 !important;
}

a {
    color: #5e72e4;
    text-decoration: none;
}

a:hover {
    color: #233dd2;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

h3 {
    font-size: 1rem;
}

h2 {
    font-size: 1.25rem;
}
h1 {
    font-size: 1.625rem;
}

/* .card-body p {
    color: #525f7f;
} */

.navbar-search-dark .input-group {
    width: 847px;
    height: 50px;
}

.navbar-search .form-control {
    width: 270px;
    background-color: transparent;
    padding-bottom: 0;

}

.form-control:focus {
    color: #fff;
}

.pt-5, .py-5 {
    padding-top: 8rem!important;
}

.font-weight-bold {
    font-weight: 600 !important;
    font-size: 1rem !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.95);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #43d3e8;
}
