.bg-secondary {
    background-color: #f7fafc !important;
}

.btn-primary {
    background-color: #5e72e4;
    border-color: #5e72e4;
  }

  .text-primary {
    color: #5e72e4 !important;
}

a {
    color: #5e72e4;
    text-decoration: none;
}

a:hover {
    color: #233dd2;
}


.input-group-text {
    line-height: 1.5;
    color: #adb5bd;
    background-color: #fff;
    border-radius: 0.375rem;
}

.form-control { 
    height: calc(2.75rem + 2px);
    color: #adb5bd;

}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.95);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #43d3e8;
}