<div class="main-content">
    <!-- Navbar -->
    <nav class=" navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark bg-gradient-login">
        <div class="container px-4">
        <a class="navbar-brand" href="index">
            <img src="../../assets/img/brand/Icono3.png" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse-main">
             
            <!-- Navbar items -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"> 
                    <a class="btn btn-primary  mt-2"  data-toggle="modal" data-target="#modalNuevaApp">
                    <i class="ni ni-planet"></i>
                    <span class="nav-link-inner--text">Salvar</span>
                    </a>
                </li>
            <li class="nav-item">
                <a class=" nav-link nav-link-icon" href="index">
                <i class="ni ni-planet"></i>
                <span class="nav-link-inner--text">Dashboard</span>
                </a>
            </li>
            </ul>
        </div>
        <!-- User -->
      <ul class="navbar-nav align-items-center d-none d-md-flex">
        <li class="nav-item dropdown">
          <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="media align-items-center">
              <span class="avatar avatar-sm rounded-circle">
                <img alt="Image placeholder" src="../../assets/img/theme/team-4-800x800.jpg">
              </span>
              <div class="media-body ml-2 d-none d-lg-block">
                <span class="mb-0 text-sm  font-weight-bold">Jessica Jones</span>
              </div>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
            <div class=" dropdown-header noti-title">
              <h6 class="text-overflow m-0">Welcome!</h6>
            </div>
            <a href="perfil" class="dropdown-item">
              <i class="ni ni-single-02"></i>
              <span>Mi Perfil</span>
            </a>
            <a href="perfil" class="dropdown-item">
              <i class="ni ni-settings-gear-65"></i>
              <span>Configuraciones</span>
            </a>
            <a href="perfil" class="dropdown-item">
              <i class="ni ni-calendar-grid-58"></i>
              <span>Actividades</span>
            </a>
            <a href="perfil" class="dropdown-item">
              <i class="ni ni-support-16"></i>
              <span>Soporte</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="index" class="dropdown-item">
              <i class="ni ni-user-run"></i>
              <span>Logout</span>
            </a>
          </div>
        </li>
      </ul>
        </div>
    </nav>
</div> 


<!-- <pre id="editor">function foo(items) {
var i;
for (i = 0; i &lt; items.length; i++) {
    alert("Ace Rocks " + items[i]);
}
}
</pre> -->

<div id="encabezados">
<div id="encabezado-html"> 
    <button class="conf"><i class="fas fa-cog"></i></button>
    <span class="texto">HTML</span>
    <button class="conf conf-2"><i class="fas fa-caret-down"></i></button>
</div>
<div id="encabezado-css"> 
    <button class="conf"><i class="fas fa-cog"></i></button>
    <span class="texto">CSS</span>
    <button class="conf conf-2"><i class="fas fa-caret-down"></i></button>
</div>
<div id="encabezado-js"> 
    <button class="conf"><i class="fas fa-cog"></i></button>
    <span class="texto">JS</span>
    <button class="conf conf-2"><i class="fas fa-caret-down"></i></button>
</div>
</div>


<div id="container-editor">
<div id="html-editor">{{pluma.documentoHTML}}</div>
<div id="css-editor">{{pluma.documentoCSS}}</div>
<div id="js-editor">{{pluma.documentoJS}}</div>
</div>

<iframe id="resultado-editor" frameborder="0"></iframe>


 <!-- Modal Nueva Pluma-->
  <div class="modal fade" id="modalNuevaApp" tabindex="-1" role="dialog" aria-labelledby="modalNuevaAppLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalNuevaAppLabel">Nueva Pluma</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <input class="form-control my-2" type="text" id="nombre-pluma" placeholder="Nombre Pluma">
                      <input class="form-control my-2" type="text" id="Descripcion" placeholder="descripción">
                  </div>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button id="btn-guardar" type="button" class="btn btn-primary" onclick="guardar()">Guardar</button>
        </div>
      </div>
    </div>
  </div>